<div class="container">
  <div class="hero-unit">
    <h1>Impress.js remote controller</h1>
    <p>makes your Impress.js presentation even more impressive with just two lines of code and an Iphone</p>
    <pre class="prettyprint linenums lang-html">&lt;script src="http://remote.nodester.com/socket.io/socket.io.js"&gt;</script>
&lt;script src="http://remote.nodester.com/remote.js"&gt;</script>
</pre>
<!--    <p>
    <a href="" class="btn-success btn-primary btn-large"> Get source from GitHub</a></p>-->
  </div>
  <!--<div class="row">
  	<div class="span6">
  	<h1>Install locally</h1>
  	<p>To control your presentation with Iphone you need a server. You can use http://remote.nodester.com but sloww connection will eventually kill awesomeness of your presentation.</p>
  	<p>To avoid problems you can install server locally on your machine.</p>
  	</div>
	<div class="span6">
  	<h1>Windows</h1>
  	<p>To control your presentation with Iphone you need a server. You can use http://remote.nodester.com but sloww connection will eventually kill awesomeness of your presentation.</p>
  	<p>To avoid problems you can install server locally on your machine.</p>
  	</div>  	
  </div>
  <div class="row">
  	<div class="span6">
  	<h1>Linux</h1>
  	<p>To control your presentation with Iphone you need a server. You can use http://remote.nodester.com but sloww connection will eventually kill awesomeness of your presentation.</p>
  	<p>To avoid problems you can install server locally on your machine.</p>
  	</div>
	<div class="span6">
  	<h1>Mac</h1>
  	<p>To control your presentation with Iphone you need a server. You can use http://remote.nodester.com but sloww connection will eventually kill awesomeness of your presentation.</p>
  	<p>To avoid problems you can install server locally on your machine.</p>
  	</div>  	
  </div>  
</div>-->
