<div class="container">
  <div class="hero-unit">
    <h1>Impress.js remote controller</h1>
    <p>makes your Impress.js presentation even more impressive with just two lines of code and an Iphone</p>
    <pre class="prettyprint linenums lang-html">&lt;script src="http://remote.nodester.com/socket.io/socket.io.js"&gt;</script>
&lt;script src="http://remote.nodester.com/remote.js"&gt;</script>
</pre>
<script>
</();
prettyPrintscript>
   <p>
    <a href="/presentation.html" class="btn-success btn-primary btn">Give me some Demo!</a> <!-- Place this tag where you want the +1 button to render -->
<span style="display: inline-block; vertical-align: middle;"> 
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://remote.nodester.com" data-via="edjafarov" data-size="large">Tweet</a>
</span>
<span style="display: inline-block; vertical-align: middle;"> 
<g:plusone annotation="inline" width="120" href="remote.nodester.com"></g:plusone>
</span>



    </p>
  </div>
  <p>If you have slow connection, latency will kill awesomeness of your presentation. To prevent it you need to install server locally. I will opensource the code soon <span style="display: inline-block; vertical-align: middle;"> <a href="https://twitter.com/edjafarov" class="twitter-follow-button" data-show-count="false">Follow @edjafarov</a>
</span> to be updated. This will be <a href="https://plus.google.com/u/0/100598160817214911030">node.js</a> server as an easy to install NPM module.</p>

  <!--<div class="row">
  	<div class="span6">
  	<h1>Install locally</h1>
  	<p>To control your presentation with Iphone you need a server. You can use <a href="http://remote.nodester.com">http://remote.nodester.com</a> but slow connection could kill awesomeness of your presentation.</p>
  	<p>To avoid problems you can easely install server locally on your machine.</p>
  	</div>
	<div class="span6">
  	<h1>Windows</h1>
  	<ul>
  		<li>Download and install <a href="http://nodejs.org/dist/v0.6.11/node-v0.6.11.msi">node</a></li>
  		<li>run npm install remote-impress</li>
  		<li>run remote-start</li>
  	</ul>
  	</div>  	
  </div>
  <div class="row">
  	<div class="span6">
  	<h1>Linux</h1>
  	<ul>
  		<li>Download and install <a href="http://nodejs.org/dist/v0.6.11/node-v0.6.11.msi">node</a></li>
  		<li>sudo run npm install remote-impress</li>
  		<li>run sudo remote-start</li>
  	</ul>
  	</div>
  </div> --> 
</div>


<!-- Place this render call where appropriate -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29500437-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>